<!DOCTYPE html>
<html>
    <head>
        <meta http-eqiv="content-type" content="text/html;charset=utf-8">
        <title>Тестовая игра на Go</title>
        <link rel="stylesheet" href="/static/css/base.css"/>
    </head>
    <body>
        <canvas width="800" height="800" id="canvas"></canvas>
        <img src="/static/img/unit.png" style="visibility: hidden" id="unit"/>
        <img src="/static/img/chest.png" style="visibility: hidden" id="chest"/>

        <script src="/static/js/main.js"></script>
    </body>
</html>
